/node_modules

/storage/*.key
/vendor/*
.idea
/.idea/*
Homestead.json
Homestead.yaml
.env
/ref
/storage


robots.txt
resources/lang/*.json
public/uploads
build/*
!build/skeleton/
docker-compose.yml
supervisord.pid
devsocialfansgeek/*
new-git-server/*
.DS_Store
public/.DS_Store